
body {
  margin: 0;
  background-color: coral;
}

.clock {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-color: green;
  margin: 50px auto;
  position: relative;
}
.hand {
  width: 10px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 195px;
  transform-origin: 50% 100%;
}


.m1 {
  width: 1.6vw;
  background-color: pink;
  position: absolute;
  bottom: 0;
  transition: height 0.3s;
}

.m2 {
  width: 1.6vw;
  background-color: blue;
  position: absolute;
  margin-left: 1.6vw;
  bottom: 0;
  transition: height 0.3s;
}

.m3 {
  width: 1.6vw;
  background-color: pink;
  position: absolute;
   margin-left: 3.3vw;
  bottom: 0;
  transition: height 0.3s;
}

.m4 {
  width: 1.6vw;
  background-color: pink;
  position: absolute;
  margin-left: 4.93vw;
  bottom: 0;
  transition: height 0.3s;
}

.m5 {
  width: 1.6vw;
  background-color: pink;
  position: absolute;
  margin-left: 6.53vw;
  bottom: 0;
  transition: height 0.3s;
}
